Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

.lintstagedrc.json:

{
	"**/*.js": ["prettier --write", "yarn lint:js --fix"],
	"**/*.{html,json}": ["prettier --write"],
	"**/package.json": ["yarn lint:pkg"]
}

v0.26.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  packages/ui-components/src/HeadingAnchor/__snapshots__/HeadingAnchor.test.js.snap
  packages/ui-components/src/IconArrowDownward/__snapshots__/IconArrowDownward.test.js.snap
  packages/ui-components/src/IconArrowForward/__snapshots__/IconArrowForward.test.js.snap
  packages/ui-components/src/IconArrowHeadDown/__snapshots__/IconArrowHeadDown.test.js.snap
  packages/ui-components/src/IconArrowHeadUp/__snapshots__/IconArrowHeadUp.test.js.snap
  packages/ui-components/src/IconButton/__snapshots__/IconButton.test.js.snap
  packages/ui-components/src/IconHttp/__snapshots__/IconHttp.test.js.snap
  packages/ui-components/src/IconInsertLink/__snapshots__/IconInsertLink.test.js.snap
  packages/ui-components/src/IconScience/__snapshots__/IconScience.test.js.snap
  packages/ui-components/src/IconSearch/__snapshots__/IconSearch.test.js.snap
  packages/ui-components/src/IconThumbDown/__snapshots__/IconThumbDown.test.js.snap
  packages/ui-components/src/SvgIcon/__snapshots__/SvgIcon.test.js.snap
Due: prettier --write, yarn lint:pkg

Update gatsby and babel presets
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  packages/ui-components/scripts/rollup.config.js
  packages/ui-components/size-snapshot.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

chore: removing fix for corejs resolving, Gatsby probably fixed it
  packages/gatsby-plugin-setup/src/gatsby-node.js
Due: prettier --write, yarn lint:js --fix

v0.27.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: bad type for MdxFrontmatter
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
Due: prettier --write, yarn lint:js --fix

v0.27.1
  apps/demo-sidebar/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg

chore: React version unification
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

v0.27.2
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

fix: toc links
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
Due: prettier --write, yarn lint:js --fix

v0.27.3
  apps/demo-sidebar/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg

fix: removing @reach/router reference
  apps/demo-sidebar/content/docs/tables.mdx
  packages/gatsby-theme-fast-ai-sidebar/src/components/Link.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/MdxLink.js
Due: prettier --write, yarn lint:js --fix

v0.27.4
  apps/demo-sidebar/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg

fix: mdx-links with prefix paths
  package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/components/MdxLink.js
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
  packages/gatsby-theme-fast-ai/package.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.27.5
  apps/demo-sidebar/package.json
  apps/demo/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

Webkit-autofill - fontSize
  packages/ui-components/src/Hamburger/Hamburger.js
  packages/ui-components/src/Input/Input.js
  packages/ui-components/src/Input/__snapshots__/Input.test.js.snap
Due: prettier --write, yarn lint:js --fix

v0.27.6
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: jest - ignore build folders
  jest.config.js
  packages/ui-components/size-snapshot.json
Due: prettier --write, yarn lint:js --fix

v0.28.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: size-snapshot
  packages/ui-components/size-snapshot.json
Due: prettier --write

export useBlockingEffect
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

v0.28.1
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: mdx-links with prefix paths
  apps/demo-sidebar/content/docs/typography.mdx
  packages/gatsby-theme-fast-ai-sidebar/src/components/MdxLink.js
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
Due: prettier --write, yarn lint:js --fix

v0.29.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feat: GatsbyCssBaseline fixes problems with 100% height of the main container
  packages/gatsby-theme-fast-ai-sidebar/src/components/GatsbyCssBaseline.js
  packages/gatsby-theme-fast-ai/src/components/GatsbyCssBaseline.js
Due: prettier --write, yarn lint:js --fix

v0.29.1
  apps/demo-sidebar/package.json
  apps/demo/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

feat: Better font loading
  .gitignore
  package.json
  packages/gatsby-plugin-setup/src/gatsby-node.js
  packages/gatsby-plugin-staged-fonts/README.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-plugin-staged-fonts/src/StagedFontsProvider.js
  packages/gatsby-plugin-staged-fonts/src/constants.js
  packages/gatsby-plugin-staged-fonts/src/context.js
  packages/gatsby-plugin-staged-fonts/src/gatsby-browser.js
  packages/gatsby-plugin-staged-fonts/src/gatsby-node.js
  packages/gatsby-plugin-staged-fonts/src/gatsby-ssr.js
  packages/gatsby-plugin-staged-fonts/src/generateStyles.js
  packages/gatsby-plugin-staged-fonts/src/index.js
  packages/gatsby-plugin-staged-fonts/src/injectStyles.js
  packages/gatsby-plugin-staged-fonts/src/useStagedFonts.js
  packages/gatsby-plugin-staged-fonts/src/wrapRootElement.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-browser.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-ssr.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/components/Layout.js
  packages/gatsby-theme-fast-ai-sidebar/src/hooks/useWebfonts/useWebfonts.js
  packages/gatsby-theme-fast-ai-sidebar/src/wrapWithProvider.js
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/src/createTheme.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

feat: Better font loading
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-setup/src/gatsby-browser.js
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-plugin-staged-fonts/src/StagedFontsProvider.js
  packages/gatsby-plugin-staged-fonts/src/constants.js
  packages/gatsby-plugin-staged-fonts/src/gatsby-browser.js
  packages/gatsby-plugin-staged-fonts/src/generateStyles.js
  packages/gatsby-plugin-staged-fonts/src/injectStyles.js
  packages/gatsby-plugin-staged-fonts/src/useSession.js
  packages/gatsby-plugin-staged-fonts/src/webfontsPolyfill.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/components/Layout.js
  packages/gatsby-theme-fast-ai-sidebar/src/hooks/useWebfonts/index.js
  packages/gatsby-theme-fast-ai-sidebar/src/hooks/useWebfonts/useWebfonts.js
  packages/gatsby-theme-fast-ai-sidebar/src/hooks/useWebfonts/webfontsFallback.js
  packages/gatsby-theme-fast-ai/gatsby-browser.js
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/gatsby-theme-fast-ai/gatsby-ssr.js
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/Layout.js
  packages/gatsby-theme-fast-ai/src/hooks/useWebfonts/index.js
  packages/gatsby-theme-fast-ai/src/hooks/useWebfonts/useWebfonts.js
  packages/gatsby-theme-fast-ai/src/hooks/useWebfonts/webfontsFallback.js
  packages/ui-components/fonts/files/open-sans-v17-latin-ext_latin-700-critical.woff
  packages/ui-components/fonts/files/open-sans-v17-latin-ext_latin-700-critical.woff2
  packages/ui-components/fonts/files/roboto-v20-latin-ext_latin-regular-critical.woff
  packages/ui-components/fonts/files/roboto-v20-latin-ext_latin-regular-critical.woff2
  packages/ui-components/size-snapshot.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v1.0.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: snapshot
  packages/ui-components/size-snapshot.json
Due: prettier --write
