Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

.lintstagedrc.json:

{
	"**/*.js": ["prettier --write", "yarn lint:js --fix"],
	"**/*.{html,json}": ["prettier --write"],
	"**/package.json": ["yarn lint:pkg"]
}

fix: font location resolving
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/ui-components/fonts/index.js
Due: prettier --write, yarn lint:js --fix

fix: font location resolving (#60)
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/ui-components/fonts/index.js
Due: prettier --write, yarn lint:js --fix

v1.0.1
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix(fast-ai-theme): menu highlighing
  apps/demo/src/gatsby-theme-fast-ai/links.js
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/DesktopNavigationMenu.js
  packages/gatsby-theme-fast-ai/src/components/GatsbyCssBaseline.js
  packages/gatsby-theme-fast-ai/src/components/Match.js
  packages/gatsby-theme-fast-ai/src/components/MobileNavigationMenu.js
  packages/gatsby-theme-fast-ai/src/components/index.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

fix(fast-ai-theme): menu highlighing (#61)
  apps/demo/src/gatsby-theme-fast-ai/links.js
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/DesktopNavigationMenu.js
  packages/gatsby-theme-fast-ai/src/components/GatsbyCssBaseline.js
  packages/gatsby-theme-fast-ai/src/components/Match.js
  packages/gatsby-theme-fast-ai/src/components/MobileNavigationMenu.js
  packages/gatsby-theme-fast-ai/src/components/index.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v1.0.2
  apps/demo/package.json
  lerna.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

feat: docs + alwaysLoadNonCriticals
  packages/gatsby-plugin-staged-fonts/README.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-plugin-staged-fonts/src/StagedFontsProvider.js
  packages/gatsby-plugin-staged-fonts/src/useStagedFonts.js
  packages/gatsby-theme-fast-ai-sidebar/README.md
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai/README.md
  packages/gatsby-theme-fast-ai/gatsby-config.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

feat: docs + alwaysLoadNonCriticals (#62)
  packages/gatsby-plugin-staged-fonts/README.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-plugin-staged-fonts/src/StagedFontsProvider.js
  packages/gatsby-plugin-staged-fonts/src/useStagedFonts.js
  packages/gatsby-theme-fast-ai-sidebar/README.md
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai/README.md
  packages/gatsby-theme-fast-ai/gatsby-config.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v1.1.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  lerna.json
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

feat: READMEs
  README.md
  apps/demo-sidebar/README.md
  apps/demo-sidebar/content/docs/other.mdx
  apps/demo/README.md
  package.json
  packages/gatsby-plugin-setup/README.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/README.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/README.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/README.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/README.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feat: READMEs (#63)
  README.md
  apps/demo-sidebar/README.md
  apps/demo-sidebar/content/docs/other.mdx
  apps/demo/README.md
  package.json
  packages/gatsby-plugin-setup/README.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/README.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/README.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/README.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/README.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v1.1.1
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: lerna upgrade
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

fix: gatsby height of containers
  packages/gatsby-theme-fast-ai-sidebar/src/components/GatsbyCssBaseline.js
Due: prettier --write, yarn lint:js --fix

fix: gatsby height of containers (#67)
  packages/gatsby-theme-fast-ai-sidebar/src/components/GatsbyCssBaseline.js
Due: prettier --write, yarn lint:js --fix

chore: commitlint, conventional commits, lerna configuration
  commitlint.config.js
  lerna.json
  package.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

docs: adding description for publicly available plugins and themes
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

fix: broken link to @fast-ai/ui-components in READMEs
  packages/gatsby-plugin-setup/README.md
  packages/gatsby-plugin-staged-fonts/README.md
  packages/gatsby-theme-fast-ai-sidebar/README.md
  packages/gatsby-theme-fast-ai/README.md
Due: none

feat: roboto mono critical
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Layout.js
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/gatsby-theme-fast-ai/src/components/Layout.js
  packages/ui-components/fonts/files/roboto-mono-v7-latin-ext_latin-regular-critical.woff
  packages/ui-components/fonts/files/roboto-mono-v7-latin-ext_latin-regular-critical.woff2
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v1.2.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: snapshots
  packages/ui-components/size-snapshot.json
Due: prettier --write

fix: skipping empty levels in table of contents
  .eslintrc.js
  apps/demo-sidebar/content/docs/other.mdx
  apps/demo-sidebar/content/docs/toc.mdx
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
Due: prettier --write, yarn lint:js --fix

v1.2.1
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: snapshot
  packages/ui-components/size-snapshot.json
Due: prettier --write

feat: editorconfig
  .editorconfig
  .eslintrc.js
  package.json
  packages/ui-components/src/Gauge/Gauge.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v1.3.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: format
  .prettierrc
Due: none

feat: adding stories for Consoe
  apps/storybook/src/components/Console.stories.js
Due: prettier --write, yarn lint:js --fix

feat: adding tabs
  .eslintrc.js
  apps/storybook/src/components/Tabs.stories.js
  package.json
  packages/ui-components/src/AbstractButton/AbstractButton.js
  packages/ui-components/src/AbstractButton/AbstractButton.test.js
  packages/ui-components/src/AbstractButton/__snapshots__/AbstractButton.test.js.snap
  packages/ui-components/src/AbstractButton/index.js
  packages/ui-components/src/Hamburger/Hamburger.js
  packages/ui-components/src/TabLabelText/TabLabelText.js
  packages/ui-components/src/TabLabelText/TabLabelText.test.js
  packages/ui-components/src/TabLabelText/__snapshots__/TabLabelText.test.js.snap
  packages/ui-components/src/TabLabelText/index.js
  packages/ui-components/src/Tabs/Tab.js
  packages/ui-components/src/Tabs/Tabs.js
  packages/ui-components/src/Tabs/Tabs.test.js
  packages/ui-components/src/Tabs/__snapshots__/Tabs.test.js.snap
  packages/ui-components/src/Tabs/contexts.js
  packages/ui-components/src/Tabs/index.js
  packages/ui-components/src/createTheme.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

feat: coding new navigation system
  apps/demo-sidebar/content/docs/other/code.mdx
  apps/demo-sidebar/src/intl/cs.json
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppBar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/BreadcrumbSeparator.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Breadcrumbs.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/ContentContainer.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/messages.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/gatsby-theme-fast-ai-sidebar/src/utils.js
  ě
Due: prettier --write, yarn lint:js --fix
