Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

.lintstagedrc.json:

{
	"**/*.js": ["prettier --write", "yarn lint:js --fix", "git add"],
	"**/*.{html,json}": ["prettier --write", "git add"],
	"**/package.json": ["yarn lint:pkg", "git add"]
}

updating README
  README.md
  packages/ui-components/size-snapshot.json
  yarn.lock
Due: prettier --write

chore: size-snapshot
  packages/ui-components/size-snapshot.json
Due: prettier --write

v0.1.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.1.1
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.1.1
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

Gauge
  apps/storybook/src/components/Donut.stories.js
  apps/storybook/src/components/Gauge.stories.js
  packages/ui-components/package.json
  packages/ui-components/src/Donut/Donut.js
  packages/ui-components/src/Donut/__snapshots__/Donut.test.js.snap
  packages/ui-components/src/Donut/index.js
  packages/ui-components/src/Gauge/Gauge.js
  packages/ui-components/src/Gauge/Gauge.test.js
  packages/ui-components/src/Gauge/__snapshots__/Gauge.test.js.snap
  packages/ui-components/src/Gauge/index.js
  packages/ui-components/src/index.js
  packages/ui-components/src/utils/math.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

updating dependencies
  .lintstagedrc.json
  apps/docs-examples/package.json
  apps/storybook/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

fixing test warnings
  packages/ui-components/src/RadioGroup/RadioGroup.test.js
  packages/ui-components/src/RadioGroupField/RadioGroupField.test.js
  packages/ui-components/src/RadioGroupField/__snapshots__/RadioGroupField.test.js.snap
Due: prettier --write, yarn lint:js --fix

v0.2.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: publishing process
  lerna.json
  package.json
  packages/ui-components/package.json
  tools/copy-files.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.3.1-alpha.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.3.2-alpha.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.3.2-alpha.1
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.3.2-alpha.2
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.3.2-alpha.3
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

publish flow
  package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.4.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

useIdleTime
  packages/ui-components/src/hooks/useIdleTime.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

v0.5.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

language switcher
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/DesktopNavigation.js
  packages/gatsby-theme-fast-ai/src/components/DesktopNavigationMenu.js
  packages/gatsby-theme-fast-ai/src/components/MobileNavigation.js
  packages/gatsby-theme-fast-ai/src/components/MobileNavigationMenu.js
  packages/gatsby-theme-fast-ai/src/components/NavigationMenu.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

TransparentSelect
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/DesktopNavigationMenu.js
  packages/gatsby-theme-fast-ai/src/components/MobileNavigationMenu.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Select/Select.js
  packages/ui-components/src/Select/__snapshots__/Select.test.js.snap
  packages/ui-components/src/TransparentSelect/TransparentSelect.js
  packages/ui-components/src/TransparentSelect/TransparentSelect.test.js
  packages/ui-components/src/TransparentSelect/__snapshots__/TransparentSelect.test.js.snap
  packages/ui-components/src/TransparentSelect/index.js
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

chore: es-build
  babel.config.js
  package.json
  packages/gatsby-plugin-setup/src/gatsby-node.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Container/Container.js
  packages/ui-components/src/Container/__snapshots__/Container.test.js.snap
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.6.0
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: es-build
  packages/gatsby-plugin-setup/package.json
  tools/copy-files.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.6.1
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg
