Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

option to disable mdx
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/gatsby-theme-fast-ai/index.js
  packages/gatsby-theme-fast-ai/package.json
  packages/gatsby-theme-fast-ai/src/components/MdxProvider.js
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/SliderField/SliderField.test.js
  packages/ui-components/src/SliderField/__snapshots__/SliderField.test.js.snap
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.22.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: Gatsby core-js v2 problems in monorepo
  packages/gatsby-plugin-setup/src/gatsby-node.js
Due: prettier --write, yarn lint:js --fix

v0.22.1
  apps/demo-sidebar/package.json
  apps/demo/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

v0.22.2
  apps/demo-sidebar/package.json
  apps/demo/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

v0.22.3
  apps/demo-sidebar/package.json
  apps/demo/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

removing outdated
  .prettierrc
  babel.config.js
Due: prettier --write, yarn lint:js --fix

fix: page layout in IE
  packages/gatsby-theme-fast-ai/src/templates/Page.js
  packages/ui-components/src/Modal/Modal.js
  packages/ui-components/src/Modal/__snapshots__/Modal.test.js.snap
  packages/ui-components/src/TransparentSelect/TransparentSelect.js
  packages/ui-components/src/TransparentSelect/__snapshots__/TransparentSelect.test.js.snap
Due: prettier --write, yarn lint:js --fix

v0.22.4
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: warnings wht nth-of-child
  package.json
  packages/ui-components/src/Hamburger/Hamburger.js
  packages/ui-components/src/Hamburger/__snapshots__/Hamburger.test.js.snap
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.22.5
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: typography-in-gauges
  packages/ui-components/src/Gauge/Gauge.js
  packages/ui-components/src/Gauge/__snapshots__/Gauge.test.js.snap
Due: prettier --write, yarn lint:js --fix

v0.22.6
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: Grid - Row - reading gutters from grid
  packages/ui-components/src/Row/Row.js
  packages/ui-components/src/Row/__snapshots__/Row.test.js.snap
Due: prettier --write, yarn lint:js --fix

v0.22.7
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

possible to add children to mdx page
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
Due: prettier --write, yarn lint:js --fix

v0.23.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: Highilighting menu items with gatsby --prefix-path support
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
Due: prettier --write, yarn lint:js --fix

v0.23.1
  apps/demo-sidebar/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg

feature (components): Console component
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Console/Console.js
  packages/ui-components/src/Console/Console.test.js
  packages/ui-components/src/Console/ConsoleItem.js
  packages/ui-components/src/Console/ConsoleProvider.js
  packages/ui-components/src/Console/__snapshots__/DevConsole.test.js.snap
  packages/ui-components/src/Console/contexts.js
  packages/ui-components/src/Console/hooks.js
  packages/ui-components/src/Console/index.js
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.24.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feature: better themeable mdx components
  apps/demo-sidebar/content/docs/other/code.mdx
  packages/gatsby-theme-fast-ai-sidebar/src/components/HighlightedCode.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/MdxLink.js
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
Due: prettier --write, yarn lint:js --fix

v0.25.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

icons
  apps/storybook/src/components/Icons.stories.mdx
  packages/ui-components/src/IconArrowDownward/IconArrowDownward.js
  packages/ui-components/src/IconArrowDownward/IconArrowDownward.test.js
  packages/ui-components/src/IconArrowDownward/index.js
  packages/ui-components/src/IconArrowForward/IconArrowForward.js
  packages/ui-components/src/IconArrowForward/IconArrowForward.test.js
  packages/ui-components/src/IconArrowForward/index.js
  packages/ui-components/src/IconArrowHeadDown/IconArrowHeadDown.js
  packages/ui-components/src/IconArrowHeadDown/IconArrowHeadDown.test.js
  packages/ui-components/src/IconArrowHeadDown/index.js
  packages/ui-components/src/IconArrowHeadUp/IconArrowHeadUp.js
  packages/ui-components/src/IconArrowHeadUp/IconArrowHeadUp.test.js
  packages/ui-components/src/IconArrowHeadUp/index.js
  packages/ui-components/src/IconButton/IconButton.js
  packages/ui-components/src/IconButton/IconButton.test.js
  packages/ui-components/src/IconButton/index.js
  packages/ui-components/src/IconHttp/IconHttp.js
  packages/ui-components/src/IconHttp/IconHttp.test.js
  packages/ui-components/src/IconHttp/index.js
  packages/ui-components/src/IconInsertLink/IconInsertLink.js
  packages/ui-components/src/IconInsertLink/IconInsertLink.test.js
  packages/ui-components/src/IconInsertLink/index.js
  packages/ui-components/src/IconScience/IconScience.js
  packages/ui-components/src/IconScience/IconScience.test.js
  packages/ui-components/src/IconScience/index.js
  packages/ui-components/src/IconSearch/IconSearch.js
  packages/ui-components/src/IconSearch/IconSearch.test.js
  packages/ui-components/src/IconSearch/index.js
  packages/ui-components/src/IconThumbDown/IconThumbDown.js
  packages/ui-components/src/IconThumbDown/IconThumbDown.test.js
  packages/ui-components/src/IconThumbDown/index.js
  packages/ui-components/src/SvgIcon/SvgIcon.js
  packages/ui-components/src/SvgIcon/SvgIcon.test.js
  packages/ui-components/src/SvgIcon/index.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

heading anchor
  apps/storybook/src/components/HeadingAnchor.stories.js
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
  packages/gatsby-theme-fast-ai/src/mdxComponents.js
  packages/ui-components/src/HeadingAnchor/HeadingAnchor.js
  packages/ui-components/src/HeadingAnchor/HeadingAnchor.test.js
  packages/ui-components/src/HeadingAnchor/index.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{html,json})
  yarn lint:js --fix: any of: **/*.js
  yarn lint:pkg: any of: **/package.json
