Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

fix: apps/storybook/package.json to reduce vulnerabilities
  apps/storybook/package.json
Due: prettier --write, yarn lint:pkg

fix: packages/gatsby-theme-fast-ai-sidebar/package.json to reduce vulnerabilities
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg

fix: packages/gatsby-theme-fast-ai/package.json to reduce vulnerabilities
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

fix: apps/demo-sidebar/package.json to reduce vulnerabilities
  apps/demo-sidebar/package.json
Due: prettier --write, yarn lint:pkg

fix: packages/gatsby-plugin-setup/package.json to reduce vulnerabilities
  packages/gatsby-plugin-setup/package.json
Due: prettier --write, yarn lint:pkg

fix: apps/demo/package.json to reduce vulnerabilities
  apps/demo/package.json
Due: prettier --write, yarn lint:pkg

v1.10.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: snapshots
  packages/ui-components/size-snapshot.json
Due: prettier --write

feat: expanded nav
  apps/demo-sidebar/content/docs/other/images-2.mdx
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Match.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
Due: prettier --write, yarn lint:js --fix

feat: simple nav
  packages/gatsby-theme-fast-ai-sidebar/src/components/Match.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
Due: prettier --write, yarn lint:js --fix

v1.11.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{html,json})
  yarn lint:js --fix: any of: **/*.js
  yarn lint:pkg: any of: **/package.json
