Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

.lintstagedrc.json:

{
	"**/*.js": ["prettier --write", "yarn lint:js --fix"],
	"**/*.{html,json}": ["prettier --write"],
	"**/package.json": ["yarn lint:pkg"]
}

fix: packages/gatsby-plugin-setup/package.json to reduce vulnerabilities
  packages/gatsby-plugin-setup/package.json
Due: prettier --write, yarn lint:pkg

fix: apps/storybook/package.json to reduce vulnerabilities
  apps/storybook/package.json
Due: prettier --write, yarn lint:pkg

feat: switch
  apps/storybook/.storybook-ui/preview.js
  apps/storybook/src/components/Forms.stories.mdx
  packages/ui-components/fonts/web.css
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Switch/Switch.js
  packages/ui-components/src/Switch/index.js
  packages/ui-components/src/SwitchField/SwitchField.js
  packages/ui-components/src/SwitchField/index.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

v1.6.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: snapshots
  packages/ui-components/size-snapshot.json
Due: prettier --write

fix: switch - disabled property
  apps/storybook/src/components/Forms.stories.mdx
  packages/ui-components/src/SwitchField/SwitchField.js
Due: prettier --write, yarn lint:js --fix

v1.6.1
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: button - outline - color
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v1.6.2
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feat: new navigation system
  apps/demo-sidebar/content/docs/root.mdx
  apps/demo-sidebar/content/docs/typography.mdx
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/gatsby-theme-fast-ai-sidebar/src/utils.js
  packages/ui-components/src/createTheme.js
  packages/ui-components/src/hooks/useScrollTrigger.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

feat: secondary content navigation
  apps/demo-sidebar/src/gatsby-theme-fast-ai-sidebar/links.js
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppBar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppMenu.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppSidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Menu.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/types.js
  packages/gatsby-theme-fast-ai-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/ui-components/src/Container/Container.js
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

feat: deprecate fullWidth property
  apps/demo-sidebar/src/pages/index.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppBar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppSidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/ContentContainer.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/types.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/ui-components/src/Container/Container.js
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

feat: wrapping by container for 'content' pages
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/ui-components/src/Container/__snapshots__/Container.test.js.snap
Due: prettier --write, yarn lint:js --fix

feat: intl - menu title
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/messages.js
Due: prettier --write, yarn lint:js --fix

v1.7.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feat: update yarn
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

feat: update babel
  apps/storybook/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

feat: update gatsby
  apps/demo-sidebar/package.json
  apps/demo-sidebar/src/intl/cs.json
  apps/demo-sidebar/src/intl/en.json
  apps/demo/package.json
  apps/storybook/package.json
  babel.config.js
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-setup/src/gatsby-node.js
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-plugin-staged-fonts/src/StagedFontsProvider.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/messages.js
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

feat: update 3rd party helpers
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

fix: missing cross-env as dependency
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

chore: lerna buster
  apps/demo-sidebar/.lerna-changed-buster-26387
  apps/demo/.lerna-changed-buster-26387
  apps/storybook/.lerna-changed-buster-26387
  packages/gatsby-plugin-setup/.lerna-changed-buster-26387
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-26387
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-26387
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-26387
  packages/ui-components/.lerna-changed-buster-26387
Due: none

chore: lerna buster
  apps/demo-sidebar/.lerna-changed-buster-10290
  apps/demo/.lerna-changed-buster-10290
  apps/storybook/.lerna-changed-buster-10290
  packages/gatsby-plugin-setup/.lerna-changed-buster-10290
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-10290
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-10290
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-10290
  packages/ui-components/.lerna-changed-buster-10290
Due: none

v1.8.0-alpha.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feat: gatsby-plugin-staged-fonts support for gatsby v4
  .gitignore
  packages/gatsby-plugin-staged-fonts/src/gatsby-node.js
  packages/gatsby-plugin-staged-fonts/src/gatsby-ssr.js
  packages/gatsby-plugin-staged-fonts/src/generateStyles.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/ui-components/src/AvatarLink/__snapshots__/AvatarLink.test.js.snap
  yarn.lock
Due: prettier --write, yarn lint:js --fix
