Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

feat: gatsby-plugin-staged-fonts support for gatsby v4
  .gitignore
  packages/gatsby-plugin-staged-fonts/src/gatsby-node.js
  packages/gatsby-plugin-staged-fonts/src/gatsby-ssr.js
  packages/gatsby-plugin-staged-fonts/src/generateStyles.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/ui-components/src/AvatarLink/__snapshots__/AvatarLink.test.js.snap
  yarn.lock
Due: prettier --write, yarn lint:js --fix

chore: lerna buster
  apps/demo-sidebar/.lerna-changed-buster-26895
  apps/demo/.lerna-changed-buster-26895
  apps/storybook/.lerna-changed-buster-26895
  packages/gatsby-plugin-setup/.lerna-changed-buster-26895
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-26895
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-26895
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-26895
  packages/ui-components/.lerna-changed-buster-26895
Due: none

v1.8.0-alpha.1
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feat: gatsby-plugin-image
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai-sidebar/index.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/gatsby-config.js
  packages/gatsby-theme-fast-ai/index.js
  packages/gatsby-theme-fast-ai/package.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

chore: lerna buster
  apps/demo-sidebar/.lerna-changed-buster-31378
  apps/demo/.lerna-changed-buster-31378
  apps/storybook/.lerna-changed-buster-31378
  packages/gatsby-plugin-setup/.lerna-changed-buster-31378
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-31378
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-31378
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-31378
  packages/ui-components/.lerna-changed-buster-31378
Due: none

v1.8.0-alpha.2
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

feat: update yarn
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

feat: update 3rd party helpers
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

chore: lerna buster
  apps/demo-sidebar/.lerna-changed-buster-26387
  apps/demo/.lerna-changed-buster-26387
  apps/storybook/.lerna-changed-buster-26387
  packages/gatsby-plugin-setup/.lerna-changed-buster-26387
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-26387
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-26387
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-26387
  packages/ui-components/.lerna-changed-buster-26387
Due: none

feat: update babel
  apps/storybook/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

chore: snapshots
  packages/ui-components/size-snapshot.json
Due: prettier --write

v1.8.0-alpha.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: lerna buster
  apps/demo-sidebar/.lerna-changed-buster-10290
  apps/demo/.lerna-changed-buster-10290
  apps/storybook/.lerna-changed-buster-10290
  packages/gatsby-plugin-setup/.lerna-changed-buster-10290
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-10290
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-10290
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-10290
  packages/ui-components/.lerna-changed-buster-10290
Due: none

fix: missing cross-env as dependency
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

feat: update gatsby
  apps/demo-sidebar/package.json
  apps/demo-sidebar/src/intl/cs.json
  apps/demo-sidebar/src/intl/en.json
  apps/demo/package.json
  apps/storybook/package.json
  babel.config.js
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-setup/src/gatsby-node.js
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-plugin-staged-fonts/src/StagedFontsProvider.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/messages.js
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

chore: removing version buster files
  apps/demo-sidebar/.lerna-changed-buster-10290
  apps/demo-sidebar/.lerna-changed-buster-26387
  apps/demo-sidebar/.lerna-changed-buster-26895
  apps/demo-sidebar/.lerna-changed-buster-31378
  apps/demo/.lerna-changed-buster-10290
  apps/demo/.lerna-changed-buster-26387
  apps/demo/.lerna-changed-buster-26895
  apps/demo/.lerna-changed-buster-31378
  apps/storybook/.lerna-changed-buster-10290
  apps/storybook/.lerna-changed-buster-26387
  apps/storybook/.lerna-changed-buster-26895
  apps/storybook/.lerna-changed-buster-31378
  packages/gatsby-plugin-setup/.lerna-changed-buster-10290
  packages/gatsby-plugin-setup/.lerna-changed-buster-26387
  packages/gatsby-plugin-setup/.lerna-changed-buster-26895
  packages/gatsby-plugin-setup/.lerna-changed-buster-31378
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-10290
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-26387
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-26895
  packages/gatsby-plugin-staged-fonts/.lerna-changed-buster-31378
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-10290
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-26387
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-26895
  packages/gatsby-theme-fast-ai-sidebar/.lerna-changed-buster-31378
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-10290
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-26387
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-26895
  packages/gatsby-theme-fast-ai/.lerna-changed-buster-31378
  packages/ui-components/.lerna-changed-buster-10290
  packages/ui-components/.lerna-changed-buster-26387
  packages/ui-components/.lerna-changed-buster-26895
  packages/ui-components/.lerna-changed-buster-31378
  yarn.lock
Due: none

v1.8.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/CHANGELOG.md
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/CHANGELOG.md
  packages/gatsby-plugin-staged-fonts/package.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: react refresh and maximinStackExceeded
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/ui-components/src/hooks/useBreakpoint.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

feat: more styling moved to theme
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/ui-components/src/Container/Container.js
  packages/ui-components/src/Container/__snapshots__/Container.test.js.snap
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

fix: packages/gatsby-plugin-setup/package.json to reduce vulnerabilities
  packages/gatsby-plugin-setup/package.json
Due: prettier --write, yarn lint:pkg

fix: apps/storybook/package.json to reduce vulnerabilities
  apps/storybook/package.json
Due: prettier --write, yarn lint:pkg

fix: apps/demo-sidebar/package.json to reduce vulnerabilities
  apps/demo-sidebar/package.json
Due: prettier --write, yarn lint:pkg

fix: packages/gatsby-theme-fast-ai-sidebar/package.json to reduce vulnerabilities
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg

fix: packages/gatsby-theme-fast-ai/package.json to reduce vulnerabilities
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

fix: apps/demo/package.json to reduce vulnerabilities
  apps/demo/package.json
Due: prettier --write, yarn lint:pkg

chore: update snapshots
  packages/ui-components/size-snapshot.json
Due: prettier --write

v1.9.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{html,json})
  yarn lint:js --fix: any of: **/*.js
  yarn lint:pkg: any of: **/package.json
