Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

.lintstagedrc.json:

{
	"**/*.js": ["prettier --write", "yarn lint:js --fix"],
	"**/*.{html,json}": ["prettier --write"],
	"**/package.json": ["yarn lint:pkg"]
}

v0.6.2
  apps/docs-examples/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: menu links use gatsby-plugin-intl/Link
  packages/gatsby-theme-fast-ai/src/components/Link.js
Due: prettier --write, yarn lint:js --fix

v0.6.3
  apps/docs-examples/package.json
  lerna.json
  packages/gatsby-theme-fast-ai/package.json
Due: prettier --write, yarn lint:pkg

chore: update deps
  apps/demo-sidebar/package.json
  apps/demo-sidebar/src/pages/index.mdx
  apps/demo/package.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Hamburger/__snapshots__/Hamburger.test.js.snap
  packages/ui-components/src/Heading/__snapshots__/Heading.test.js.snap
  packages/ui-components/src/TransparentSelect/__snapshots__/TransparentSelect.test.js.snap
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.7.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: Helmet
  packages/gatsby-theme-fast-ai/src/components/Seo.js
Due: prettier --write, yarn lint:js --fix

update: content/docs
  apps/demo-sidebar/content/docs/subcategory.mdx
  apps/demo-sidebar/content/docs/subcategory/code.mdx
  apps/demo-sidebar/content/docs/subcategory/features.md
  apps/demo-sidebar/content/docs/subcategory/images.mdx
  apps/demo-sidebar/content/docs/tables.mdx
  apps/demo-sidebar/content/docs/typography.mdx
  apps/demo-sidebar/gatsby-config.js
  apps/demo-sidebar/src/gatsby-theme-fast-ai-sidebar/links.js
  apps/demo-sidebar/src/pages/404.js
  apps/demo-sidebar/src/pages/404.mdx
  apps/demo-sidebar/src/pages/index.js
  apps/demo-sidebar/src/pages/index.mdx
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/DesktopNavigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Seo.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
Due: prettier --write, yarn lint:js --fix

v0.8.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

toc
  apps/demo-sidebar/content/docs/subcategory/code.mdx
  apps/demo-sidebar/content/docs/subcategory/features.mdx
  apps/demo-sidebar/content/docs/subcategory/images.mdx
  package.json
  packages/gatsby-theme-fast-ai-sidebar/gatsby-config.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/components/ContentContainer.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/DesktopNavigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/LanguageSwitcher.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Menu.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/MenuItem.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/index.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/ui-components/src/Heading/Heading.js
  packages/ui-components/src/createTheme.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.9.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: TOC styles
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Gauge/Gauge.js
Due: prettier --write, yarn lint:js --fix

v0.10.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: size-snapshot
  packages/ui-components/size-snapshot.json
Due: prettier --write

fullwidth by default only for main page
  apps/demo-sidebar/content/docs/tables.mdx
  apps/demo-sidebar/content/docs/typography.mdx
  apps/demo-sidebar/src/pages/404.js
  apps/demo-sidebar/src/pages/index.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Link.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
Due: prettier --write, yarn lint:js --fix

v0.11.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

Compound slider
  apps/storybook/src/components/Forms.stories.mdx
  apps/storybook/src/components/Slider.stories.js
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Slider/Slider.js
  packages/ui-components/src/Slider/Slider.test.js
  packages/ui-components/src/Slider/__snapshots__/Slider.test.js.snap
  packages/ui-components/src/SliderField/SliderField.js
  packages/ui-components/src/SliderField/__snapshots__/SliderField.test.js.snap
  packages/ui-components/src/createTheme.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

Compound slider
  apps/storybook/src/components/Forms.stories.mdx
  apps/storybook/src/components/Slider.stories.js
  packages/ui-components/src/Slider/Slider.js
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.12.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: slider prop-types
  packages/ui-components/src/Slider/Slider.js
  packages/ui-components/src/SliderField/SliderField.js
  packages/ui-components/src/SliderField/__snapshots__/SliderField.test.js.snap
Due: prettier --write, yarn lint:js --fix

v0.12.1
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

colored gauges
  apps/storybook/src/components/Gauge.stories.js
  packages/ui-components/src/Gauge/Gauge.js
  packages/ui-components/src/Gauge/__snapshots__/Gauge.test.js.snap
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.13.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

mdx components in its own file for simples theme shadowing
  apps/demo-sidebar/content/docs/other.mdx
  apps/demo-sidebar/content/docs/other/code.mdx
  apps/demo-sidebar/content/docs/other/features.mdx
  apps/demo-sidebar/content/docs/other/images.mdx
  apps/demo-sidebar/src/gatsby-theme-fast-ai-sidebar/links.js
  apps/demo-sidebar/src/links.js
  apps/demo/src/pages/code.mdx
  apps/demo/src/pages/features.md
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/ui-components/src/Heading/Heading.js
  packages/ui-components/src/Heading/__snapshots__/Heading.test.js.snap
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.14.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg
