Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

chore: publish config
  apps/zoe/src/pages/index.js
  lerna.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.0.2-alpha.1
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

v0.0.2-alpha.2
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  tools/copy-files.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

chore: size-snapshot
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/size-snapshot.json
Due: prettier --write, yarn lint:pkg

v0.0.2-alpha.4
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  babel.config.js
  lerna.json
  package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
  packages/ui-components/size-snapshot.json
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.0.2
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore size-snapshot
  packages/ui-components/size-snapshot.json
Due: prettier --write

demo example form with localization
  apps/storybook/src/components/Forms.stories.mdx
  apps/zoe/package.json
  apps/zoe/src/formatters.js
  apps/zoe/src/gatsby-theme-fast-ai/links.js
  apps/zoe/src/intl/cs.json
  apps/zoe/src/intl/en.json
  apps/zoe/src/intl/messages.js
  apps/zoe/src/lookups/index.js
  apps/zoe/src/pages/index.js
  packages/gatsby-theme-fast-ai/src/components/Footer.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Input/Input.js
  packages/ui-components/src/Label/Label.js
  packages/ui-components/src/Label/__snapshots__/Label.test.js.snap
  packages/ui-components/src/Radio/Radio.js
  packages/ui-components/src/RadioGroup/RadioGroup.js
  packages/ui-components/src/RadioGroupField/RadioGroupField.js
  packages/ui-components/src/Select/Select.js
  packages/ui-components/src/SelectField/SelectField.js
  packages/ui-components/src/TextField/TextField.js
  packages/ui-components/src/createTheme.js
  packages/ui-components/src/index.js
  packages/ui-components/src/utils/getEventHandlersFromProps.js
  packages/ui-components/src/utils/getEventHandlersFromProps.test.js
  packages/ui-components/src/utils/withGeneratedId.js
  packages/ui-components/src/utils/withGeneratedId.test.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

debounce value in SliderField
  apps/zoe/src/pages/index.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/SliderField/SliderField.js
  packages/ui-components/src/hooks/useDebounce.js
  packages/ui-components/src/hooks/useDebouncedCallback.js
Due: prettier --write, yarn lint:js --fix

finalizing the form
  apps/zoe/src/components/fields.js
  apps/zoe/src/formatters.js
  apps/zoe/src/intl/cs.json
  apps/zoe/src/intl/en.json
  apps/zoe/src/intl/messages.js
  apps/zoe/src/pages/index.js
  apps/zoe/src/sa.js
  packages/gatsby-theme-fast-ai/src/components/NavigationMenu.js
  packages/ui-components/src/Container/Container.js
  packages/ui-components/src/SliderField/SliderField.js
  packages/ui-components/src/hooks/useBreakpoint.js
  packages/ui-components/src/hooks/useDebounce.js
  packages/ui-components/src/hooks/useDebouncedCallback.js
  packages/ui-components/src/hooks/useTheme.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix

Icon and Code components adjustments
  packages/gatsby-theme-fast-ai/content/assets/exclamation-triangle.svg
  packages/gatsby-theme-fast-ai/content/assets/info-circle.svg
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
Due: prettier --write, yarn lint:js --fix

chore: typo
  tools/copy-files.js
Due: prettier --write, yarn lint:js --fix

chore: size-snapshot
  .gitignore
  packages/ui-components/size-snapshot.json
Due: prettier --write

v0.0.3
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

anchor update
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
Due: prettier --write, yarn lint:js --fix

heading anchor change
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
Due: prettier --write, yarn lint:js --fix

v0.0.4
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

Header responsive menu adjustment
  packages/gatsby-theme-fast-ai/src/components/Header.js
Due: prettier --write, yarn lint:js --fix

v0.0.5
  apps/docs-examples/package.json
  apps/storybook/package.json
  apps/zoe/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

adding basic snippets and pageview
  apps/zoe/gatsby-browser.js
  apps/zoe/gatsby-ssr.js
  apps/zoe/src/components/fields.js
  apps/zoe/src/pages/index.js
  apps/zoe/src/sa.js
  packages/ui-components/src/Radio/Radio.js
  packages/ui-components/src/RadioGroup/RadioGroup.js
  packages/ui-components/src/RadioGroupField/RadioGroupField.js
Due: prettier --write, yarn lint:js --fix

disabled button
  apps/zoe/src/components/forms.js
  apps/zoe/src/containers/DemoForm.js
  apps/zoe/src/pages/index.js
  apps/zoe/src/sa.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

zoe
  apps/zoe/package.json
  apps/zoe/src/components/forms.js
  apps/zoe/src/containers/DemoForm.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

devconsole
  .gitignore
  apps/zoe/gatsby-config.js
  apps/zoe/package.json
  apps/zoe/src/components/forms.js
  apps/zoe/src/containers/DemoForm.js
  apps/zoe/src/pages/index.js
  apps/zoe/src/sa.js
  packages/ui-components/src/DevConsole/DevConsole.js
  packages/ui-components/src/DevConsole/DevConsole.test.js
  packages/ui-components/src/DevConsole/index.js
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

Modal
  .eslintrc.js
  .gitignore
  apps/zoe/.env-sample
  apps/zoe/gatsby-config.js
  apps/zoe/gatsby-ssr.js
  apps/zoe/src/components/PredictionsModal.js
  apps/zoe/src/components/forms.js
  apps/zoe/src/components/index.js
  apps/zoe/src/containers/DemoForm.js
  apps/zoe/src/intl/cs.json
  apps/zoe/src/intl/en.json
  apps/zoe/src/intl/messages.js
  apps/zoe/src/pages/index.js
  packages/ui-components/package.json
  packages/ui-components/src/CssBaseline/CssBaseline.js
  packages/ui-components/src/CssBaseline/__snapshots__/CssBaseline.test.js.snap
  packages/ui-components/src/DevConsole/DevConsole.js
  packages/ui-components/src/DevConsole/DevConsoleItem.js
  packages/ui-components/src/DevConsole/DevConsoleProvider.js
  packages/ui-components/src/DevConsole/__snapshots__/DevConsole.test.js.snap
  packages/ui-components/src/DevConsole/contexts.js
  packages/ui-components/src/DevConsole/hooks.js
  packages/ui-components/src/DevConsole/index.js
  packages/ui-components/src/Modal/Backdrop.js
  packages/ui-components/src/Modal/Modal.js
  packages/ui-components/src/Modal/Modal.test.js
  packages/ui-components/src/Modal/ModalProvider.js
  packages/ui-components/src/Modal/ModalRoot.js
  packages/ui-components/src/Modal/PortalToRoot.js
  packages/ui-components/src/Modal/__snapshots__/Modal.test.js.snap
  packages/ui-components/src/Modal/constants.js
  packages/ui-components/src/Modal/contexts.js
  packages/ui-components/src/Modal/hooks.js
  packages/ui-components/src/Modal/index.js
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

preparation for connection to SA api
  apps/storybook/src/components/Donut.stories.js
  apps/zoe/src/containers/DemoForm.js
  packages/ui-components/src/Donut/Donut.js
  packages/ui-components/src/Donut/Donut.test.js
  packages/ui-components/src/Donut/__snapshots__/Donut.test.js.snap
  packages/ui-components/src/Donut/index.js
  packages/ui-components/src/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

removing zoe
  README.md
  apps/docs-examples/src/pages/features.md
  apps/zoe/.env-sample
  apps/zoe/.eslintrc.js
  apps/zoe/README.md
  apps/zoe/gatsby-browser.js
  apps/zoe/gatsby-config.js
  apps/zoe/gatsby-ssr.js
  apps/zoe/package.json
  apps/zoe/src/components/PredictionsModal.js
  apps/zoe/src/components/ZoeLogo.js
  apps/zoe/src/components/forms.js
  apps/zoe/src/components/index.js
  apps/zoe/src/containers/DemoForm.js
  apps/zoe/src/formatters.js
  apps/zoe/src/gatsby-theme-fast-ai/components/Logo.js
  apps/zoe/src/gatsby-theme-fast-ai/links.js
  apps/zoe/src/intl/cs.json
  apps/zoe/src/intl/en.json
  apps/zoe/src/intl/messages.js
  apps/zoe/src/lookups/index.js
  apps/zoe/src/pages/index.js
  apps/zoe/src/sa.js
  apps/zoe/static/favicon.png
  package.json
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/DevConsole/DevConsole.js
  packages/ui-components/src/DevConsole/DevConsole.test.js
  packages/ui-components/src/DevConsole/DevConsoleItem.js
  packages/ui-components/src/DevConsole/DevConsoleProvider.js
  packages/ui-components/src/DevConsole/__snapshots__/DevConsole.test.js.snap
  packages/ui-components/src/DevConsole/contexts.js
  packages/ui-components/src/DevConsole/hooks.js
  packages/ui-components/src/DevConsole/index.js
  packages/ui-components/src/index.js
  zoe-ai-logo.svg
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

updating README
  README.md
  packages/ui-components/size-snapshot.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{html,json})
  yarn lint:js --fix: any of: **/*.js
  yarn lint:pkg: any of: **/package.json
