Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

feat: tabs for first level categories in mobile viewport
  apps/demo-sidebar/content/docs/other/code/subpage.mdx
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/README.md
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Match.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/gatsby-theme-fast-ai-sidebar/src/utils.js
  packages/ui-components/src/Tabs/Tab.js
Due: prettier --write, yarn lint:js --fix

feat: connecting breadcrumbs
  apps/demo-sidebar/src/intl/en.json
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/index.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppBreadcrumbs.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Match.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Router.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/types.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/utils.js
  ě
Due: prettier --write, yarn lint:js --fix

feat: roots
  apps/demo-sidebar/content/docs/root.mdx
  apps/demo-sidebar/content/docs/root/nested-root.mdx
  apps/demo-sidebar/content/docs/root/nested-root/nested-root.mdx
  apps/demo-sidebar/content/docs/root/nested-root/subpage.mdx
  apps/demo-sidebar/content/docs/root/nested-root/subpage/subpage.mdx
  apps/demo-sidebar/content/docs/root/subpage.mdx
  apps/demo-sidebar/content/docs/root/subpage/subpage.mdx
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppBreadcrumbs.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Match.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
Due: prettier --write, yarn lint:js --fix

docs: links#root
  packages/gatsby-theme-fast-ai-sidebar/README.md
Due: none

feat: coding new navigation system
  apps/demo-sidebar/content/docs/other/code.mdx
  apps/demo-sidebar/src/intl/cs.json
  apps/demo-sidebar/src/links.js
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/AppBar.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/BreadcrumbSeparator.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Breadcrumbs.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/ContentContainer.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/messages.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/gatsby-theme-fast-ai-sidebar/src/utils.js
  ě
Due: prettier --write, yarn lint:js --fix

feat: adding tabs
  .eslintrc.js
  apps/storybook/src/components/Tabs.stories.js
  package.json
  packages/ui-components/src/AbstractButton/AbstractButton.js
  packages/ui-components/src/AbstractButton/AbstractButton.test.js
  packages/ui-components/src/AbstractButton/__snapshots__/AbstractButton.test.js.snap
  packages/ui-components/src/AbstractButton/index.js
  packages/ui-components/src/Hamburger/Hamburger.js
  packages/ui-components/src/TabLabelText/TabLabelText.js
  packages/ui-components/src/TabLabelText/TabLabelText.test.js
  packages/ui-components/src/TabLabelText/__snapshots__/TabLabelText.test.js.snap
  packages/ui-components/src/TabLabelText/index.js
  packages/ui-components/src/Tabs/Tab.js
  packages/ui-components/src/Tabs/Tabs.js
  packages/ui-components/src/Tabs/Tabs.test.js
  packages/ui-components/src/Tabs/__snapshots__/Tabs.test.js.snap
  packages/ui-components/src/Tabs/contexts.js
  packages/ui-components/src/Tabs/index.js
  packages/ui-components/src/createTheme.js
  packages/ui-components/src/index.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v1.4.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: problems with SSR in fullwidth-styled page
  apps/demo-sidebar/content/docs/root.mdx
  apps/demo-sidebar/package.json
  apps/demo-sidebar/src/pages/index.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Header.js
  packages/gatsby-theme-fast-ai-sidebar/src/intl.js
  packages/gatsby-theme-fast-ai-sidebar/src/navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/ui-components/size-snapshot.json
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

fix: detection of parent route
  apps/demo-sidebar/content/docs/other.mdx
  apps/demo-sidebar/src/intl/en.json
  packages/gatsby-theme-fast-ai-sidebar/src/components/Match.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
Due: prettier --write, yarn lint:js --fix

v1.4.1
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: update snapshots
  packages/ui-components/size-snapshot.json
Due: prettier --write

fix: zIndex of sidebar defined in theme
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
Due: prettier --write, yarn lint:js --fix

v1.4.2
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: fixing the SSR issue with useIntlContext
  packages/gatsby-theme-fast-ai-sidebar/src/intl.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
Due: prettier --write, yarn lint:js --fix

v1.4.3
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg

feat: restyling buttons
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v1.5.0
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

chore: snapshots
  packages/ui-components/size-snapshot.json
Due: prettier --write

fix: missing styles for buttons
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v1.5.1
  CHANGELOG.md
  apps/demo-sidebar/CHANGELOG.md
  apps/demo-sidebar/package.json
  apps/demo/CHANGELOG.md
  apps/demo/package.json
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/CHANGELOG.md
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/CHANGELOG.md
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/CHANGELOG.md
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: apps/demo-sidebar/package.json to reduce vulnerabilities
  apps/demo-sidebar/package.json
Due: prettier --write, yarn lint:pkg

chore: update gatsby
  apps/demo-sidebar/package.json
  apps/demo/package.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-plugin-staged-fonts/package.json
  yarn.lock
Due: prettier --write, yarn lint:pkg

fix: apps/demo/package.json to reduce vulnerabilities
  apps/demo/package.json
Due: prettier --write, yarn lint:pkg

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{html,json})
  yarn lint:js --fix: any of: **/*.js
  yarn lint:pkg: any of: **/package.json
