Repository lundegaard/gatsby-theme-fast-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:pkg

.lintstagedrc.json:

{
	"**/*.js": ["prettier --write", "yarn lint:js --fix"],
	"**/*.{html,json}": ["prettier --write"],
	"**/package.json": ["yarn lint:pkg"]
}

chore: size-snapshot
  packages/ui-components/size-snapshot.json
Due: prettier --write

themable grid
  packages/gatsby-theme-fast-ai-sidebar/src/components/Navigation/Navigation.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
  packages/ui-components/src/Col/Col.js
  packages/ui-components/src/Col/__snapshots__/Col.test.js.snap
  packages/ui-components/src/Container/Container.js
  packages/ui-components/src/Gauge/Gauge.js
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.15.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

seo from frontamatter
  apps/demo-sidebar/content/docs/other.mdx
  apps/demo-sidebar/content/docs/tables.mdx
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/ui-components/size-snapshot.json
  packages/ui-components/src/Input/Input.js
  packages/ui-components/src/Input/__snapshots__/Input.test.js.snap
  packages/ui-components/src/Select/Select.js
  packages/ui-components/src/Select/__snapshots__/Select.test.js.snap
  packages/ui-components/src/SuperField/SuperField.js
  packages/ui-components/src/SuperField/__snapshots__/SuperField.test.js.snap
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.16.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: toc - anchors depth
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
Due: prettier --write, yarn lint:js --fix

table styles
  packages/gatsby-theme-fast-ai-sidebar/src/components/Sidebar.js
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.17.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: TOC - unboserve when HMR
  packages/gatsby-theme-fast-ai-sidebar/src/components/TableOfContents.js
Due: prettier --write, yarn lint:js --fix

v0.17.1
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

fix: prefix paths in ToC and Page template
  apps/demo-sidebar/content/docs/typography.mdx
  apps/demo-sidebar/gatsby-config.js
  apps/demo-sidebar/package.json
  packages/gatsby-theme-fast-ai-sidebar/src/components/Link.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/Page.js
Due: prettier --write, yarn lint:js --fix, yarn lint:pkg

v0.17.2
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

copy button
  packages/gatsby-theme-fast-ai-sidebar/index.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/Copy.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/HighlightedCode.js
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
  packages/gatsby-theme-fast-ai-sidebar/src/messages.js
  packages/gatsby-theme-fast-ai-sidebar/src/utils.js
Due: prettier --write, yarn lint:js --fix

mdx-link
  packages/gatsby-theme-fast-ai-sidebar/src/components/MdxLink.js
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
Due: prettier --write, yarn lint:js --fix

v0.18.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

Text in mdx
  apps/demo-sidebar/content/docs/tables.mdx
  apps/demo-sidebar/content/docs/typography.mdx
  apps/demo/src/pages/tables.mdx
  packages/gatsby-theme-fast-ai-sidebar/src/mdxComponents.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
  packages/gatsby-theme-fast-ai/src/mdxComponents.js
  packages/gatsby-theme-fast-ai/src/templates/MdxPage.js
  packages/ui-components/src/Heading/Heading.js
  packages/ui-components/src/Heading/__snapshots__/Heading.test.js.snap
  packages/ui-components/src/Text/Text.js
  packages/ui-components/src/Text/__snapshots__/Text.test.js.snap
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.19.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

wider layout
  packages/gatsby-theme-fast-ai-sidebar/src/components/ContentContainer.js
  packages/gatsby-theme-fast-ai-sidebar/src/theme.js
  packages/ui-components/src/Container/Container.js
  packages/ui-components/src/Container/__snapshots__/Container.test.js.snap
  packages/ui-components/src/createTheme.js
Due: prettier --write, yarn lint:js --fix

v0.20.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

wider layout if ToC is disabled
  apps/demo-sidebar/content/docs/other/features.mdx
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
Due: prettier --write, yarn lint:js --fix

v0.21.0
  apps/demo-sidebar/package.json
  apps/demo/package.json
  apps/storybook/package.json
  lerna.json
  packages/gatsby-plugin-setup/package.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
  packages/gatsby-theme-fast-ai/package.json
  packages/ui-components/package.json
Due: prettier --write, yarn lint:pkg

source field for MDX
  packages/gatsby-theme-fast-ai-sidebar/gatsby-node.js
  packages/gatsby-theme-fast-ai-sidebar/src/components/MdxProvider.js
  packages/gatsby-theme-fast-ai-sidebar/src/templates/MdxPage.js
Due: prettier --write, yarn lint:js --fix

v0.21.1
  apps/demo-sidebar/package.json
  lerna.json
  packages/gatsby-theme-fast-ai-sidebar/package.json
Due: prettier --write, yarn lint:pkg
